html,
body {
    background: #f4f4f4;
    height: 100%;
    width: 100%;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*>span,
*>input {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

#app,
#app>div {
    height: 100%;
    width: 100%;
}